.mainDiv{
    border:1px solid rgb(65, 63, 63);
    z-index: 999;
}

.logo{
    width: 25px;
    height: 25px;
}


.mobileDiv{
    display: none;
}

@media all and (min-width: 250px) and (max-width: 1040px){
    .mainDiv{
        display: none;
    }

    .mobileDiv{
        display: block;
    }

}